<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<property name="LOG_FILE" value="hbcc-cloud"/>
   
    <include resource="com/hoperun/rd/common/mscommon/logback/hoperun-logback-base.xml"/>
    <logger name="com.netflix.config" level="ERROR" />
    <logger name="com.hazelcast" level="ERROR" />
    <logger name="org.mongodb.driver.protocol" level="ERROR"/>
    <logger name="org.mongodb.driver.cluster" level="ERROR"/>
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="TIME_FILE_ZIP_APPENDER" />
	</root>
</configuration>