spring.data.mongodb.uri={{ mongodb_url }}/{{ instance_vars.mongodb_database }}
spring.data.mongodb.database={{ instance_vars.mongodb_database }}
server.port={{ instance_vars.listen_port }}
hbcc.processor.hbccProperties.ccbPhysicalNid: {{ instance_vars.ccb_phy_nid }}
