"use strict";var ROOT_URL="{{ instance_vars.public_addr }}",FILE_URL="{{ instance_vars.public_addr }}",CONFIG={VERSION:"2018-07-13_01",PAGE_SIZE:15,PDF_SERVER_URL:"{{ thirdparty['shuronglianCfca'][env_type]['pdf_server_url'] }}",DOWNLOAD_DRIVER_URL:"{{ instance_vars.public_addr }}/downloads/cfcaDriver.zip",CA_TYPE:"2",SEAL_TYPE:"2"};
