##application config
spring.application.name=fac
spring.application.version=1.2.0
##database config
spring.datasource.url={{ pg_url }}/{{ instance_vars.pg_database }}?targetServerType=master
spring.datasource.username={{ pg_user }}
spring.datasource.password={{ pg_pass }}
#businessLine
hbcc.core.properties.businessLine=BL
hbcc.core.properties.subBusinessLine=RFAC
#mongodb
hbcc.core.properties.mongodb.addresses={{ mongodb_url }}/{{ instance_vars.mongodb_database }}
hbcc.core.properties.mongodb.database={{ instance_vars.mongodb_database }}
#cache
hbcc.cache.mongo.uri={{ mongodb_url }}/{{ instance_vars.mongodb_cache_database }}
hbcc.cache.mongo.database={{ instance_vars.mongodb_cache_database }}
#hbcc.core.properties.mongodb.host=fastchain.org12.finblockchain.cn
#hbcc.core.properties.mongodb.port=27010
#hbcc.core.properties.mongodb.database=mongo
#hbcc.core.properties.mongodb.userName=mongouser
#hbcc.core.properties.mongodb.password=mongouser123
##message queue
#hbcc.core.properties.mqConfigProperties.rabbitMQConfig.username=loc
#hbcc.core.properties.mqConfigProperties.rabbitMQConfig.password=loc
#hbcc.core.properties.mqConfigProperties.rabbitMQConfig.addresses=ang1-cache1-mq1:5672,ang2-cache2-mq2:5672
#hbcc.core.properties.mqConfigProperties.rabbitMQConfig.sysQueueName=sys_factorQueue
#hbcc.core.properties.mqConfigProperties.rabbitMQConfig.sysMsgPrefix=user_alias
hbcc.core.properties.mqConfigProperties.queue.queueName={{ instance_vars.rabbitmq_queue }}
##blockchian config
hbcc.core.properties.blockChain.connection.pool.host={{ instances[instance_name]['platform-hfclient-sdk-ws']['domain'] }}
hbcc.core.properties.blockChain.connection.pool.port={{ instances[instance_name]['platform-hfclient-sdk-ws']['listen_port'] }}
hbcc.core.properties.blockChain.connection.pool.forceRefresh=false
hbcc.core.properties.blockChain.connection.channel={{ instance_vars.channel }}
hbcc.core.properties.blockChain.connection.enableSSL=false
hbcc.core.properties.blockChain.connection.supportedProtocols=TLSv1
hbcc.core.properties.blockChain.connection.enableConnectionReuse=false
#cloud
#hbcc.core.properties.cloudHost=http://hbcc-cluster:4040
hbcc.core.properties.myChain.name={{ eco_name }}/{{ instance_vars.channel }}
hbcc.core.properties.myChain.ip={{ instances[instance_name]['platform-hfclient-sdk-ws']['domain'] }}
hbcc.core.properties.myChain.port={{ instances[instance_name]['platform-hfclient-sdk-ws']['listen_port'] }}
hbcc.core.properties.cloudIntranetAddr=http://{{ instances['hbcc']['hbcc-cloud-starter']['public_addr'] }}
#http
hoperun.http.sessionTimeoutMinutes=30
hoperun.http.maximumSessions=1
#statemachine
hoperun.plugins.statemachine.umlFilePath1={{ work_dir }}/config/refac-base.uml
hoperun.plugins.statemachine.umlFilePath2={{ work_dir }}/config/refac-main.uml
hoperun.plugins.statemachine.umlFilePath3={{ work_dir }}/config/baoli-base.uml
#json
hbcc.ugm.rolePath={{ work_dir }}/config/init_default_roles.json
#log
logging.config={{ work_dir }}/config/logback-spring.xml
###默认6061##########
server.port={{ instance_vars.listen_port }}
{% if instance_vars.portal is defined and instance_vars.portal %}
######portal配置#####
hbcc.core.properties.portalFlag=true
hbcc.ugm.portalUrl.ip={{ instances[instance_vars.portal_instance]['portal-service-ws']['domain'] }}
hbcc.ugm.portalUrl.port={{ instances[instance_vars.portal_instance]['portal-service-ws']['public_port'] }}
hbcc.ugm.portalUrl.webUrl=http://{{ instances[instance_vars.portal_instance]['portal-frontend']['public_addr'] }}
{% endif %}
