logging.config={{ work_dir }}/config/logback-spring.xml
logging.file={{ work_dir }}/logs/factoring.log
server.port={{ instance_vars.listen_port }}
spring.application.name=domesticFactoring
spring.application.version=2.0.0
platform.component.client.platformRuntimeServer=http://{{ instances[instance_name]['platform-service-runtime-ws']['domain'] }}:{{ instances[instance_name]['platform-service-runtime-ws']['listen_port'] }}
spring.data.mongodb.uri={{ mongodb_url }}/{{ instance_vars.mongodb_database }}
spring.data.mongodb.database={{ instance_vars.mongodb_database }}
spring.datasource.url={{ pg_url }}/{{ instance_vars.pg_database }}
spring.datasource.username={{ pg_user }}
spring.datasource.password={{ pg_pass }}
hoperun.plugins.amqp.fanoutQueueName={{ instance_vars.rabbitmq_queue }}
hoperun.plugins.amqp.fanoutExchangeName={{ instance_vars.rabbitmq_exchange }}
hoperun.plugins.amqp.isStartEventReceiver=true
hoperun.blockchain.configbean=true
hoperun.blockchain.isEncrypt=true
spring.rabbitmq.addresses={{ rabbitmq_address }}
spring.rabbitmq.username={{ rabbitmq_user }}
spring.rabbitmq.password={{ rabbitmq_pass }}
hoperun.platform.base.apiserver.host=http://{{ instances[instance_name]['platform-hfclient-sdk-ws']['domain'] }}:{{ instances[instance_name]['platform-hfclient-sdk-ws']['listen_port'] }}/assetTradingPlatform
runchain.application.keyListServiceUrl=http://{{ instances[instance_name]['keylist-ws']['domain'] }}:{{ instances[instance_name]['keylist-ws']['listen_port'] }}/api/keylist
jsb.component.client.inUse=false

# {{ env_type }}
runchain.fdd.sdk.appId={{ thirdparty['fdd'][env_type]['appId'] | default(thirdparty['fdd']['default']['appId']) }}
runchain.fdd.sdk.appSecret={{ thirdparty['fdd'][env_type]['appSecret'] | default(thirdparty['fdd']['default']['appSecret']) }}
runchain.fdd.sdk.url={{ thirdparty['fdd'][env_type]['url'] | default(thirdparty['fdd']['default']['url']) }}
runchain.fdd.sdk.notifyUrl=http://{{ instance_vars.public_addr }}
runchain.fdd.sdk.returnUrl=http://{{ instance_vars.public_addr }}/success.html

hoperun.platform.base.callBackQueryInterval=3000
server.tomcat.basedir={{ instance_dir }}/df_tmp

#企业信息配置
company.info.code=http://10.21.102.162:28686/jeecg-boot/comInfoCer/getComInfoCo/
#法人二要素鉴权
authentica.two=http://10.21.102.162:28686/jeecg-boot/auth/two
