#!/bin/bash

CHANNEL_NAME=$1

CHAINCODE_NAME={{ ccname }}
CHAINCODE_VERSION={{ version }}
CHAINCODE_LANG={{ lang }}
CHAINCODE_UPGRADEARGS={{ upgradeargs }}
CHAINCODE_POLICY="{{ policy | default(default_policy, true) }}"

peer chaincode upgrade \
  -n $CHAINCODE_NAME -l $CHAINCODE_LANG -v $CHAINCODE_VERSION -c "$CHAINCODE_UPGRADEARGS" -P "$CHAINCODE_POLICY" \
  -C $CHANNEL_NAME -o $ORDERER_ADDRESS  --tls --cafile $ORDERER_CA
