(function () {
    'use strict';
    // gulp 自动生成的，请勿编辑。Automaticlly Generated　By GULP DO　NOT MODITY
    angular
        .module('EMPortal')
        .constant('VERSION', "1.1.0.RELEASE")
        .constant('DEBUG_INFO_ENABLED', true)
        .constant('RESTHOST', {
        "ICP": "苏ICP备18045509号",
        "PUBLICSECURITYRECORDNUMBER": "苏公网安备32011402010360号",
        "DATA_HOST": "http://{{ instance_vars.public_addr }}",
        "FILE_HOST": "http://{{ instance_vars.public_addr }}",
        "DOWNLOAD_DRIVER": "127.0.0.1",
        "CA_TYPE": "2"
})
;
})();
