(function () {
    'use strict';
    // gulp 自动生成的，请勿编辑。Automaticlly Generated　By GULP DO　NOT MODITY
	 angular
        .module('UNIFYPortal')
        .constant('VERSION', "1.2.3.RELEASE")
        .constant('DEBUG_INFO_ENABLED', false)
        .constant('RESTHOST', {
        "ICP": "苏ICP备18045509号",
        "PUBLICSECURITYRECORDNUMBER": "苏公网安备32011402010360号",
        "DATA_HOST": "http://{{ instance_vars.public_addr }}",
        "FILE_HOST": "http://{{ instance_vars.public_addr }}",
        "CONTACT": "13262836706",
        "ZONE_DATA_HOST": "http://{{ instance_vars.zone_addr }}"
})
;
})();
