<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_PATH" value="${LOG_PATH:-./logs}" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/logFile.log}" />
	<property name="LOG_ERROR_FILE"
		value="${LOG_ERROR_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/BlockInfoCallbackError.log}" />


	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<!-- The FILE and ASYNC appenders are here as examples for a production 
		configuration -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <encoder> <pattern>${FILE_LOG_PATTERN}</pattern> </encoder> -->
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d %-5level [%thread] %logger{0}.%method:%L : %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="BlockInfoCallbackError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <encoder> <pattern>${FILE_LOG_PATTERN}</pattern> </encoder> -->
		<file>${LOG_ERROR_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_ERROR_FILE}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d %-5level [%thread] %logger{0}.%method:%L : %msg%n
			</Pattern>
		</encoder>
	</appender>


	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<logger name="BlockInfoCallbackError" level="DEBUG" >
		<appender-ref ref="BlockInfoCallbackError" />
	</logger>
	
	<logger name="com.hoperun" level="DEBUG" />
	<logger name="com.runchain" level="DEBUG" />

	<logger name="javax.activation" level="WARN" />
	<logger name="javax.mail" level="WARN" />
	<logger name="javax.xml.bind" level="WARN" />
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="com.codahale.metrics" level="WARN" />
	<logger name="com.netflix" level="WARN" />
	<logger name="com.netflix.discovery" level="INFO" />
	<logger name="com.ryantenney" level="WARN" />
	<logger name="com.sun" level="WARN" />
	<logger name="com.zaxxer" level="WARN" />
	<logger name="io.undertow" level="WARN" />
	<logger name="io.undertow.websockets.jsr" level="ERROR" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.apache.catalina.startup.DigesterFactory"
		level="OFF" />
	<logger name="org.bson" level="WARN" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.thymeleaf" level="WARN" />
	<logger name="org.xnio" level="WARN" />
	<logger name="springfox" level="WARN" />
	<logger name="sun.rmi" level="WARN" />
	<logger name="liquibase" level="WARN" />
	<logger name="LiquibaseSchemaResolver" level="INFO" />
	<logger name="sun.net.www" level="INFO" />
	<logger name="sun.rmi.transport" level="WARN" />
	<logger name="org.mongodb.driver" level="INFO" />
	<logger name="org.postgresql" level="INFO" />

	<logger name="io.grpc.netty" level="INFO" />
	<logger name="io.netty" level="INFO" />
	<logger name="io.opencensus" level="INFO" />
	<logger name="org.hyperledger.fabric.sdk" level="DEBUG" />
	<logger name="org.hyperledger.fabric.sdk.Endpoint" level="DEBUG" />
	<logger name="org.hyperledger.fabric.sdk.EventHub" level="DEBUG" />
	<logger name="org.hyperledger.fabric.sdk.PeerEventServiceClient"
		level="DEBUG" />
	<logger name="org.hyperledger.fabric.sdk.transaction.ProtoUtils"
		level="DEBUG" />

	<logger name="com.fasterxml.jackson.databind" level="INFO" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<root level="DEBUG">
<!--	<appender-ref ref="CONSOLE" />  -->
		<appender-ref ref="FILE" />
	</root>

</configuration>
