var DATA_HOST = "http://{{ instance_vars.public_addr }}";
var FILE_HOST = "http://{{ instance_vars.public_addr }}";
var ICP = "苏ICP备18045509号";
var PUBLICSECURITYRECORDNUMBER = "苏公网安备32011402010360号";
