(function () {
    'use strict';
    // gulp 自动生成的，请勿编辑。Automaticlly Generated　By GULP DO　NOT MODITY
    angular
        .module('ModuleForfaiting')
        .constant('VERSION', "1.1.7.RELEASE")
        .constant('DEBUG_INFO_ENABLED', false)
        .constant('RESTHOST', {
	"DATA_HOST": "http://{{ instance_vars.public_addr }}",
	"FILE_HOST": "http://{{ instance_vars.public_addr }}"
})
;
})();
