version: '2'

services:
  platform-service_{{ instance_name }}:
    container_name: platform-service_{{ instance_name }}
    image: {{ harbor_domain }}/{{ docker_image_project }}/{{ docker_image_name }}:{{ version }}
    restart: always
    working_dir: /home/blockchain/{{ app_name }}
    environment:
      - LANG=en_US.UTF-8
      - TZ=Asia/Shanghai
    volumes:
      - ./config/application.yml:/home/blockchain/{{ app_name }}/config/application.yml
      - ./config/rsa_pri_0.pem:/home/blockchain/{{ app_name }}/config/rsa_pri_0.pem
      - ./config/rsa_pub_0.pem:/home/blockchain/{{ app_name }}/config/rsa_pub_0.pem
      - ./logs:/home/blockchain/{{ app_name }}/logs
      - ./tmp:/home/blockchain/{{ app_name }}/tmp
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "10"
    ports:
      - {{ instance_vars.listen_port }}:{{ instance_vars.listen_port }}
    extra_hosts:
# PostgreSQL
      db0.{{ org_domain }}: {{ hostvars['db0.'~org_name]['ansible_ssh_host'] }}
# MongoDB
{% for each_mongo in groups[org_name~'_mongodb'] %}
      {{ each_mongo.split('.')[0] }}.{{ org_domain }}: {{ hostvars[each_mongo]['ansible_ssh_host'] }}
{% endfor %}
# RabbitMQ
{% for each_mq in groups[org_name~'_rabbitmq'] %}
      {{ each_mq.split('_')[0] }}.{{ org_domain }}: {{ hostvars[each_mq]['ansible_ssh_host'] }}
{% endfor %}
# ApiSDK
      {{ instances[instance_name]['platform-hfclient-sdk-ws']['domain'] }}: {{ slb['inner'] | default(hostvars['api0.'~org_name]['ansible_ssh_host'], true) }}
# OtherPlatforms
{% for each_p in platform[instance_vars.project] %}
{% if each_p.id != instances[instance_name][app_name]['platform_id'] %}
      {{ each_p.host }}: {{ hostvars['platform0.'~each_p.fabric_id]['slb'][conn_mode] | default(hostvars['platform0.'~each_p.fabric_id]['ansible_ssh_host'], true) }}
{% endif %}
{% endfor %}
