#version
spring.application.name=CreditLetter
spring.application.version=1.1.6
##database config
#spring.datasource.url=jdbc:oracle:thin:@{{oracle_dns}}:{{oracle_port}}:{{oracle_sid}}
spring.datasource.url=jdbc:oracle:thin:@(DESCRIPTION =(ENABLE=BROKEN)(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST ={{oracle1_dns}})(PORT = {{oracle_port1}}))(ADDRESS = (PROTOCOL = TCP)(HOST ={{oracle2_dns}})(PORT = {{oracle_port2}}))(FAILOVER=YES) (LOAD_BALANCE =NO)) (CONNECT_DATA=(SERVICE_NAME = {{oracle_sid}}) ) )
spring.datasource.username={{oracle_user}}
spring.datasource.password={{oracle_pass}}
spring.jpa.database-platform=org.hibernate.dialect.Oracle10gDialect
spring.jpa.database=ORACLE
##cache address
hoperun.cache.hazelcast.address={{ hazelcast0_dns }}:5702,{{ hazelcast1_dns }}:5702
hoperun.cache.hazelcast.groupName=test
hoperun.cache.hazelcast.groupPasswd=test-pass
#mongodb
hbcc.core.properties.mongodb.addresses=mongodb://{{ mongodb_user_name }}:{{ mongodb_user_passwd }}@{{ mongodb_p_dns }}:27010,{{ mongodb_s_dns }}:27010/mongo
##message queue
hbcc.core.properties.mqConfigProperties.rabbitMQConfig.username=loc
hbcc.core.properties.mqConfigProperties.rabbitMQConfig.password=loc
hbcc.core.properties.mqConfigProperties.rabbitMQConfig.addresses={{ rabbitmq1_dns }}:5672,{{ rabbitmq2_dns }}:5672
hbcc.core.properties.mqConfigProperties.rabbitMQConfig.sysQueueName=sys_fftQueue
hbcc.core.properties.mqConfigProperties.rabbitMQConfig.sysMsgPrefix=user_alias
hbcc.core.properties.mqConfigProperties.queue.queueName=fftQueue
##blockchian config
hbcc.core.properties.blockChain.connection.pool.host={{ api_dns }}
hbcc.core.properties.blockChain.connection.pool.port=5555
hbcc.core.properties.blockChain.connection.pool.forceRefresh=false
hbcc.core.properties.blockChain.connection.channel=channelfft
hbcc.core.properties.blockChain.connection.enableSSL=false
hbcc.core.properties.blockChain.connection.supportedProtocols=TLSv1
hbcc.core.properties.blockChain.connection.enableConnectionReuse=false
#cloud
hbcc.core.properties.cloudHost=http://{{ hbcccloud_dns }}:4040
hbcc.core.properties.businessLine=LC
hbcc.core.properties.subBusinessLine=LOC
#plugins
application.maxNoticePendingDays=3
application.plugin.host=http://{{ intranal_lb2 }}:5000
#log
logging.config={{ xyz_dir }}/config/logback-spring.xml
#json
hbcc.ugm.rolePath={{ xyz_dir }}/config/init_default_roles.json